<!DOCTYPE html>
<html>
    <head>
            <% if (Array.isArray(message.title)) { %>
                <title>Amhara Unity | <%= message.title[0] %></title>
              <% } else { %>
                <title>Amhara Unity | <%= message.title %></title>
              <% } %>
            
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
        <link rel="stylesheet" type="text/css" href="/blog.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    </head>
    <body>



        <div class="navbar-container">
            <a href="/" style="text-decoration: none; cursor: pointer;"><div class="app-name">Amhara Unity</div></a>

            <a href="/submit-a-blog/<%= message.userId%>" style="text-decoration: none;"><button class="write-btn">Write</button></a>
        </div>

        <div class="content-container">
            <div class="blog-title">
                <% if (Array.isArray(message.title)) { %>
                    <h1><%= message.title[0] %></h1>
                  <% } else { %>
                    <h1><%= message.title %></h1>
                  <% } %>
                
            </div>
            <div class="blog-poster">
                <span>Submitted by: <%= message.postedBy %></span><br>
                <span><%= message.postedOn %></span>
            </div>
            <div class="hero-image-wrapper">
                <div class="image">
                    <img src="/images/avatar.jpg" alt="">
                </div>
                <div class="alt-text">
                    <% if (Array.isArray(message.altText)) { %>
                        <div><%= message.altText[0] %></div>
                      <% } else { %>
                        <div><%= message.altText %></div>
                      <% } %>
                    
                </div>
            </div>
            <div class="blurb">
                <p><%= message.desc %></p>
            </div>

            <div class="blog-content">
                <% if (Array.isArray(message.content)) { %>
                    <p><%= message.content[0] %></p>
                  <% } else { %>
                    <p><%= message.content %></p>
                  <% } %>
                
            
            
            <section class="added-section">
                

                <% if (Array.isArray(message.title)) { %>
                    <% for (let i = 1; i < message.title.length; i++) { %>
                        <h2><%= message.title[i] %></h2>
                        <div class="image">
                            <img src="/images/avatar.jpg" alt="">
                        </div>
                        <div class="alt-text"><%= message.altText[i] %></div>
                        <p style="margin-top: 3vh;"><%= message.content[i] %></p>
        

                      <% } %>
    
                  <% } 

                 %>

                
            </section>
            </div>
            <section class="comments-section">
                <!--replies -->
                <div class="replies-heading">
                    <h2>Comments (<%= comments.length %>)</h2>
                </div>
                <div class="comments-wrapper" id="comments-wrapper">

                    <% if (comments.length != 0) { %>
                        <% for (let i = 0; i < comments.length; i++) { %>
                            <div class="a-comment" style="border-left: 3px solid <%= comments[i].commenter.userColor%>;">
                                <div class="commenter" style="color: <%= comments[i].commenter.userColor%>;"><%= comments[i].commenter.firstName %> <%= comments[i].commenter.lastName %></div>
                                <div class="the-comment"><%= comments[i].comment %></div>
                                <div class="comment-time"><%= comments[i].postedOn %></div>
                            
                            </div>

                        <% } %>
                
                    <% } %>
    
                    
                </div>
                
                <div class="comments-heading">
                    <h2>Leave a Comment</h2>
                </div>
                <!--comments form-->
              

                <% if (signedIn) { %>
                    <div class="comments-form">
                        <form action="/comment/<%= message._id %>/<%= commenter._id %>" method="POST" class="comment-form" id="comment-form">
                            <textarea name="comment" id="comment-text" cols="70" rows="5" style="border: 1px solid #ddd;">Your comment here...</textarea><br>
                            <input type="submit" style="background-color: #007F73;border: 1px solid #007F73;color: white;border-radius: 5px;cursor: pointer;">
                        </form>
                    </div>
                    
                <% } else { %>
                    <div class="no-comments-form">
                        <a href="/" style="text-decoration: none;"><button>Sign In</button></a>
                    </div>
                    
                <% } %>
            

                <!--
                    <form action="" method="POST" class="comment-form" id="comment-form">
                        <textarea name="content" id="" cols="70" rows="5" style="border: 1px solid #ddd;">Your comment here...</textarea><br>
                        <input type="submit" style="background-color: #007F73;border: 1px solid #007F73;color: white;border-radius: 5px;cursor: pointer;">
                    </form>
                
                -->

                
            </section>

        </div>

        <script src="https://js.pusher.com/7.0/pusher.min.js"></script>

        <script>
            const date = new Date();
                const pusher = new Pusher('be75e3dbef6dc92be9b4', {
                    cluster: 'us2'
                });

                const channel = pusher.subscribe('comment-channel');
                channel.bind('comment', (data) => {
                    const item = document.createElement('p');
                    const comment = data.comment;
                    const commenterfirstName = data.commenter.firstName;
                    const commenterlastName = data.commenter.lastName;
                    const col = data.commenter.userColor;


                    item.innerHTML = `
                    <div class="a-comment" style="border-left: 3px solid ${col};">
                        <div class="commenter" style="color: ${col}">${commenterfirstName} ${commenterlastName}</div>
                        <div class="the-comment">${comment}</div>
                        <div class="comment-time">${date.toLocaleDateString()} at ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}</div>
                    
                    </div>
                    `


                    document.getElementById('comments-wrapper').appendChild(item);
                });

                document.getElementById('comment-form').addEventListener('submit', (e) => {
                    e.preventDefault();
                    const message = document.getElementById('comment-text').value;
                    fetch('/comment/<%= message._id%>/<%= commenter._id%>', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({message})

                    })
                    document.getElementById('comment-text').value = ''

                });

        </script>

        
    </body>
</html>