<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <link rel="stylesheet" type="text/css" href="/dashboard.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">






    </head>
    <body>
        <div id="loading-wrapper">
            <div id="loading-text">LOADING</div>
            <div id="loading-content"></div>
          </div>
          

          <div class="dashboard" id="dashboard" style="visibility: hidden;">
            <div class="nav-container">
                <a href="/" style="text-decoration: none; cursor: pointer;"><div class="app-name">Amhara Unity</div></a>

                <div class="username"> Hi there <%= data.firstName %>! </div>

                

                    <a href="/allblogs/<%= data._id %>" onclick="getBlogSubmit(`${data}`)" style="text-decoration: none;">
                        <button id="blogs-button">Blogs</button>
                        
                        
                    </a>
                    
                  
            </div>

            <% if (annons.length != 0) { %>
               
                
                    <div class="user-announcements">
                        <% var result = ""; %>
                        <% for (let i = annons.length-1; i >= 0; i--) { %>
                            <% result += "     " + annons[i].title + "     "; %>
                        <% } %>
                

                        <div class="moving-text" style="animation-delay: -10s;"><%= result %></div>
                        <% var result = ""; %>

                    
                    </div>
                    

        
    
             
              <% }  %>
          
            
            <div class="panels-container" id="panels-container">
                <div class="tabs-group">
                    <div class="tabs-buttons">
                        <a href="/allblogs/<%= data._id %>" onclick="getBlogSubmit(`${data}`)" style="text-decoration: none;">
                            <button id="blogs-button"  style="background-color: #5AB2FF;color: white;height: 5vh;width: 10vw;border: 1px solid #5AB2FF;border-radius: 5px;cursor: pointer;">View blogs</button>

                        </a>

                        <button style="background-color: #C40C0C;color: white;height: 5vh;width: 10vw;border: 1px solid #C40C0C;border-radius: 5px;cursor: pointer;">Log Out</button>
                    </div>
                    
                </div>
                <div class="messaging-area" id="messaging-area">
                    <div class="text-area">
                        <div class="message-group">
                            <div class="messages-sent" id="messages-sent">
                                <div class="sent-bubble" id="sent-bubble">

                                    <% if (messages.length > 0) { %>

                                        <% for(let i = 0; i < messages.length; i++) { %>

                                            <!-- check if message is image or video -->
                                            

                                            <% if (['mp4', 'webm', 'ogg', 'mov'].includes(messages[i].message.split(".")[1])) { %>
                                                <div class="message-content" style="border-left: 2px solid <%= messages[i].user.userColor%>">
                                                    <span style="color: <%= messages[i].user.userColor%>; font-size: 10px; font-weight: bold;"><%=messages[i].user.firstName%> <%=messages[i].user.lastName%></span><br>
                                                    <video style="width: 100%;" controls=true>
                                                        <source src= "<%= messages[i].message %>">
                                                    </video>
                                                </div>
                                            
                                            <% } else if (['jpg', 'jpeg', 'png', 'gif', 'webp'].includes(messages[i].message.split(".")[1])) {%> 
                                                <div class="message-content" style="border-left: 2px solid <%= messages[i].user.userColor%>">
                                                    <span style="color: <%= messages[i].user.userColor%>; font-size: 10px; font-weight: bold;"><%=messages[i].user.firstName%> <%=messages[i].user.lastName%></span><br>
                                                    <img src="<%= messages[i].message %>" alt="uploaded image" style="width: 100%; height: 20vh; object-fit: cover; border-radius: 20px; cursor: pointer;">
                                                </div>
                                                
                                                
                                                <%}
                                            else { %>
                                                <div class="message-content" style="border-left: 2px solid <%= messages[i].user.userColor%>">
                                                    <span style="color: <%= messages[i].user.userColor%>; font-size: 10px; font-weight: bold;"><%=messages[i].user.firstName%> <%=messages[i].user.lastName%></span><br>
                                                    <%= messages[i].message %>
                                                </div>
                                                

                                            <% } %>

                                            <!-- end-->
                                            
                                            

                                            
                                            
                                        <% } %>
                                

                                            
                                    <% } else { %>

                                    <% } %>

                                    <!-- check if -->
                                
                                
                                </div>

                            </div>
                           
                        
                        </div>
                        
                    </div>
                    <div class="messaging-panel">
                        <span>
                            <form action="/send/<%= data._id %>" method="POST" id="form">
                                <input type="text" value="" name="textMessage" placeholder="Say something..." id="sent-text">
                            </form>
                        </span>
                        <span>
                            <form action="/upload/<%= data._id %>" method="POST" id="upload-form" enctype="multipart/form-data">
                                
                                <!--
                                    <button type="submit">
                                    <i class="fas fa-upload"></i>
                                </button>
                                
                                <input type="file" id="media" name="media" accept="image/*,video/*">


                                -->
                                <span><input type="file" name="media" id="media" accept="image/*,video/*" required></span>  
                                <span><button type="submit">Upload</button></span>                      
                                
                    
                                    
                            </form>
                            
                        </span>

                    </div>
                </div>
            </div>
            
          </div>

          
          
          
          
          
          
          
    
          <script src="https://js.pusher.com/7.0/pusher.min.js"></script>


            <script>
                
                /*
                document.querySelector('.custom-upload-button').addEventListener('click', function() {
                            document.querySelector('#image').click();
                        });

                */
                        
            
                const pusher = new Pusher('be75e3dbef6dc92be9b4', {
                    cluster: 'us2'
                });

                const channel = pusher.subscribe('chat');
                channel.bind('message', (data) => {
                    const item = document.createElement('p');
                    const userID = data.userID;
                     const col = data.user.userColor;
                    item.innerHTML = `
                            <div class="message-content" style="  border-left: 2px solid ${col};">
                            <span style="color: ${col}; font-size: 10px; font-weight: bold;">${data.user.firstName} ${data.user.lastName}</span><br>
                            ${data.message}
                            </div>
                                    
                    `;
                    document.getElementById('sent-bubble').appendChild(item)
                    //console.log(data);
                });

                document.getElementById('form').addEventListener('submit', (e) => {
                    e.preventDefault();
                    const message = document.getElementById('sent-text').value;
                    //console.log("message: ", message)
                    fetch('/send/<%= data._id%>', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({message})
                    })
                    document.getElementById('sent-text').value = ''

                });

                //ability to send images and videos as text

                const form = document.getElementById('upload-form');
            form.addEventListener('submit', async(e) => {
                e.preventDefault();

                const formData = new FormData(form);
                const response = await fetch('/upload/<%= data._id%>', {
                    method: 'POST',
                    body: formData
                });
                console.log(response)


                if (response.ok) {
                    alert("Media uploaded successfully");
                } else {

                    alert("Failed to upload")

                }
            });

            const mediaChannel = pusher.subscribe('media-channel');
            mediaChannel.bind('new-media', function(data) {
            const fileExtension = data.url.split('.').pop();
            
            if (['jpg', 'jpeg', 'png', 'gif', 'webp'].includes(fileExtension)) {
                    //const mediaElement = document.createElement('img');
                    const mediaElement = document.createElement('p');
                    const col = data.user.userColor;

                    mediaElement.innerHTML = `
                            <div class="message-content" style="  border-left: 2px solid ${col};">
                            <span style="color: ${col}; font-size: 10px; font-weight: bold;">${data.user.firstName} ${data.user.lastName}</span><br>
                            <img src= ${data.url}  alt="uploaded image" style="width: 100%; height: 20vh; object-fit: cover; border-radius: 20px; cursor: pointer;">
                        
                            </div>`

                    //mediaElement.src = data.url;
                    //mediaElement.alt = 'uploaded image';
                    //mediaElement.style.width = '100%';
                    //mediaElement.style.height = '20vh';
                    //mediaElement.style.objectFit = 'cover';
                    //mediaElement.style.borderRadius = '20px';
                    //mediaElement.style.cursor = 'pointer';

                    //const item = document.createElement('p');
            //const userID = data.userID;
            




                    document.getElementById('sent-bubble').appendChild(mediaElement);


                    
            }else if (['mp4', 'webm', 'ogg', 'mov'].includes(fileExtension)) {

                const mediaElement = document.createElement('p');
                    const col = data.user.userColor;

                    mediaElement.innerHTML = `
                            <div class="message-content" style="  border-left: 2px solid ${col};">
                            <span style="color: ${col}; font-size: 10px; font-weight: bold;">${data.user.firstName} ${data.user.lastName}</span><br>
                            <video style="width: 100%;" controls=true>
                                <source src= ${data.url}>
                            </video>
                        
                            </div>`

                    //const mediaElement = document.createElement('video');
                    //mediaElement.src = data.url;
                    //mediaElement.controls = true;
                    //mediaElement.style.width = '100%';
                    


                    document.getElementById('sent-bubble').appendChild(mediaElement);
                    console.log('image attached')

                }

            });

            
            

            </script>
        

          
          
          <script>


            function getBlogSubmit(id) {
                console.log(id)

            }
            function newMessage() {
                var sendButton = document.getElementById('send-button');

                sendButton.addEventListener('click', function () {
                    var sentText = document.getElementById('sent-text').value;
                    var newText = document.createElement('section');
                    newText.innerHTML = `

                    <div class="sent-bubble">${sentText}</div>

                    `
                    document.getElementById('messages-sent').appendChild(newText);
                    sentText.value = " ";



                });
            }

            
          </script>
          <script>
            function loadHandler(delay) {
                const el = document.getElementById('loading-wrapper');
                if (el) {
                    setTimeout(() => {
                        el.style.display = "none";
                    }, delay);
                }
            }
            function dashboardViewHandler(delay) {
                const el = document.getElementById('dashboard');
                if (el) {
                    setTimeout(() => {
                        el.style.visibility = "visible";
                    }, delay);
                }

            }
            loadHandler(5000);
            dashboardViewHandler(6000)
          </script>
          
    </body>
</html>