<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <title>Amhara Unity in America የአማራ አንድነት በአሜሪካ</title>

  <link rel="stylesheet" type="text/css" href="/home.css">



    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>


</head>


<body>
    <section class="title-text">
        <div class="en-text">Amhara Unity in America</div>
        <div class="am-text"> የአማራ አንድነት በአሜሪካ</div>
    </section>
    <section class="mission-container">
        <div class="mission-left">
            <span>Our</span><br>

            <span>Mission</span> 
            <span><i class="fa fa-arrow-circle-right show-right" style="font-size: 30px; margin-right: 0.5vw;"></i></span> <span><i class="fa fa-arrow-circle-down show-down" style="font-size: 30px;"></i></span>
        </div>
        <div class="mission-right">
            <div class="mission-text">
                <p>
                    The Amhara people, even though they were at the core of the society that developed into the country which is now Ethiopia, have been marginalized by the TPLF and OPDO regimes since 1991. There is a great deal of interest among the larger Amhara diaspora in the US to support the ostracized Amhara people back in our motherland. In order to coordinate efforts of supporting the Amhara people in Ethiopia and maximize outcomes, it is of paramount importance that we the Amhara diaspora build a strong and large organization.
                </p><br>
                <p>
                    The purpose of this website is to facilitate the creation of robust Amhara not-for-profit organization in the US using a grassroots approach. This website will accomplish its goals by providing a forum for communication and a platform for member registration. The goals of the website will be fulfilled once a national assembly of delegates has adopted a charter and elected national leaders for a non-for-profit organization. 
                </p><br>
                <p>
                    Registration is free and open to all Amhara diaspora and all Amhara supporters who reside in the US. Register at this website by choosing the branch nearest to you. There are 21 regional branches. Share the information about this website with other members of the Amhara diaspora and encourage them to register. You can use the Share Link at the bottom of the webpage to share the website.

                </p><br>
                <p>
                    Voice your opinion (in writing and/or with video) using the Blogs from our members section of the website. Submit formal writings and/or video presentations for consideration for posting under the Amhara History section of the website. Please actively participate in this noble process so that we can form a strong unified group that will stand with the Amhara people in Ethiopia through thick and thin.

                </p><br>
                <p>
                    አላማ

                </p><br>
                <p>
                    እኛ በአሜሪካ የምንኖር አማራዎች በኢትዮጵያ የሚኖረውን የአማራ ወገናችንን ለመደገፍ ከፍተኛ ፍላጎት እንዳለን ይታወቃል። ይህንን ፍላጎታችንንም ለማሳካት ደግሞ መደራጀት ያስፈልጋል። የዚህ ዌብሳይት ብቸኛ አላማ አንድ ጠንካራ የአማራ ድርጅት በአሜሪካ ማቋቋም ነው። 

                </p><br>
                <p>
                    ድርጅቱ እኛ ራሳችን በምንመርጣቸው ሰዎች የሚመራ፣ የመተታደሪያ ደንብ ያለው፣ በህግ የተመዘገበ እና ጠንካራ ህዝባዊ መሰረት ያለው ሊሆን ይገባል። መጀመሪያ በቅርንጫፍ ደረጃ የአማራው ህብረት ከተመሰረተ በሁዋላ ሀገራዊ ጉባኤ ተካሂዶ ሀገር ቀፍ ድርጅት ይቋቋማል። ሁላችሁም በዚህ ቅዱስ ስራ ተሳትፎ አድርጉ። ተመዝገቡ። ክፍያ የለም። በዌብሳይቱ አስተያየታችሁን ስጡ። መልእክቱን ለሌሎች አማራዎች አድርሱ።

                </p>
            </div>
        </div>
    </section>
    
       <section class="hero-container">
        <div class="hero-img">
            <img src="/images/menelik.webp" alt="">
        </div>
        <div class="hero-form">
            <form action="/messaging" method="POST">
                <h1 class="welcome-text" style="font-weight: bold;"></h1>
            
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>
            
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" id="password" required>

                <input type="checkbox" id="notRobot" name="notRobot" required style="margin-bottom: 3vh;">
                <label for="notRobot">I am not a robot</label>
        
            
                <button type="submit" class="btn">Login</button>
                <!--signup container-->
                <div class="signup-container">
                    <div class="sign-up">
                        Don't have an account? <a href="/register" style="text-decoration: none;color: #5AB2FF; font-weight: bold;cursor: pointer;">Sign Up</a>
                    </div>
                    
                    <div class="forgot">
                        <a href="" style="text-decoration: none;color: #5AB2FF;cursor: pointer;">Forgot password?</a>
                    </div>

                </div>
              </form>
            
        </div>
    </section>
    <section class="gallery-container">
        <div class="scroll-container">
            <img src="/images/haile.jpg" alt="Haile Selassie">
            <img src="/images/fasilides.jpg" alt="fasilides">
            <img src="/images/BelayZeleke.webp" alt="Belay Zeleke">
            <img src="/images/TaytuBetul.webp" alt="TaytuBetul">
            <img src="/images/Tewodros.jpg" alt="Tewodros II">

          </div>
    </section>
    <!--amhara history section-->
    <div class="guest-section-title">
        Amhara History
    </div>

<section class="guest-articles-container">
    <% if (articles.length > 0) { %>
        <% for(let i = 0; i < posts.length; i++) { %>
        
            <div>
                <a href="/article/<%= articles[i]._id %>" style="text-decoration: none;cursor: pointer;">
                    <div class="guest-article">
                        <div class="article-info-container">
                            <div class="article-title">
                                <% if (Array.isArray(articles[i].title)) { %>
                                    <%= articles[i].title[0] %>
                    
                                  <% } else { %>
                                    <%= articles[i].title %>

                                  <% } %>
                                
                            </div>
                            <div class="article-image">

                                <% if (articles[i].mainImage != []) { %>
                                    <img src="/<%= articles[i].mainImage[0].path%>" alt="">

                                  <% } else { %>
                                    <img src="/images/ethiopia.png" alt="">

                                  <% } %>
                                
                            </div>
                            <div class="article-blurb">
                                <%= articles[i].desc %>
                            </div>
                            <div class="article-poster"></div>
                        </div>
                    </div>
                </a>
            </div>

           
            
          <% } %>
      
    <% } else { %>
        <div class="no-posts-container">
            <a href="" style="text-decoration: none;cursor: pointer;">
                <div class="no-posts">
                        NO NEW ARTICLES

                </div>
            </a>
        </div>
        
    <% } %>


    



</section>
    <!-- end of amhara history section-->
    <h2 class="section-name">Our Team</h2>

    <section class="team-container">
        <div class="team-member">
            <div class="member-img">
                <img src="/images/ethiopia.png" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">To be elected</span> <br>
                <span style="font-size: 10px;"></span>
                
            </div>
        </div>
        <div class="team-member">
            <div class="member-img">
                <img src="/images/ethiopia.png" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">To be elected</span> <br>
                <span style="font-size: 10px;"></span>
                
            </div>
        </div>
        <div class="team-member">
            <div class="member-img">
                <img src="/images/ethiopia.png" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">To be elected</span> <br>
                <span style="font-size: 10px;"></span>
                
            </div>
        </div>
        <div class="team-member">
            <div class="member-img">
                <img src="/images/ethiopia.png" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">To be elected</span> <br>
                <span style="font-size: 10px;"></span>
                
            </div>
        </div>
        <div class="team-member">
            <div class="member-img">
                <img src="/images/ethiopia.png" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">To be elected</span> <br>
                <span style="font-size: 10px;"></span>
                
            </div>
        </div>
        <div class="team-member">
            <div class="member-img">
                <img src="/images/ethiopia.png" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">To be elected</span> <br>
                <span style="font-size: 10px;"></span>
                
            </div>
        </div>
        <div class="team-member">
            <div class="member-img">
                <img src="/images/ethiopia.png" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">To be elected</span> <br>
                <span style="font-size: 10px;"></span>
                
            </div>
        </div>
        

    </section>
    <h2 class="section-name">Our Branches</h2>
    <section class="branches-container">
        <ul>

            <% for(let i = 0; i < branches.length; i++) { %>

                <a href="/branch/<%= branches[i]._id%>" style="text-decoration: none;">
                   
                    <li>
                        <span class="branch-name"><%= branches[i].name %></span>
                        <div class="branch-button">
                            <a href="/branch/<%=branches[i]._id%>" style="text-decoration: none;"><button class="branch-btn">View</button></a><br>
                            <a href="/join-branch/<%=branches[i]._id%>" style="text-decoration: none;"><button class="branch-btn">Join</button></a>
                        </div>
                        <!--
                        <div class="join-button"><a href="/branch/<%=branches[i]._id%>" style="text-decoration: none;"><button class="branch-btn">Join</button></a></div><br>

                        -->


                    </li>
                    
                </a>
                
              <% } %>
          
            
        </ul>


    </section>



        <!--
            
        -->


        <div class="guest-section-title">
            Blogs from our members
        </div>

    <section class="guest-articles-container">
        <% if (posts.length > 0) { %>
            <% for(let i = 0; i < posts.length; i++) { %>
            
                <div>
                        <a href="/blog/<%= posts[i]._id %>" style="text-decoration: none;cursor: pointer;">
                            <div class="guest-article">
                                <div class="article-info-container">
                                    <div class="article-title">
                                        <% if (Array.isArray(posts[i].title)) { %>
                                            <%= posts[i].title[0] %>
    
                                          <% } else { %>
                                            <%= posts[i].title %>
                                          <% } %>
                                        
                                    </div>
                                    <div class="article-image">

                                        <% if (posts[i].mainImage.length != 0) { %>
                                            <img src="/<%= posts[i].mainImage[0].path %>" alt="">
                    
                                          <% } else { %>
                                            <img src="/images/ethiopia.png" alt="">
                    
                                          <% } %>
                                        
                                        
                                        
                                    </div>
                                    <div class="article-blurb">
                                        <%= posts[i].desc %>
                                    </div>
                                    <div class="article-poster"></div>
                                </div>
                            </div>
                        </a>
                    
                    
                </div>
                
              <% } %>
          
        <% } else { %>
            <div class="no-posts-container">
                <a href="" style="text-decoration: none;cursor: pointer;">
                    <div class="no-posts">
                            NO NEW ARTICLES

                    </div>
                </a>
            </div>
            
        <% } %>
    

        
 


    </section>
    <div class="message-board-container">
        <div class="board-title">Announcements</div>
        <div class="all-messages">
            <!--a message start-->
            
            <% if (announs.length > 0) { %>
                <% for(let i = announs.length-1; i >= 0; i--) { %>

                    <div class="message-container">
                        <span style="font-size: 16px;color: #1A4D2E;font-weight: bold;"><%= announs[i].title %></span> <br>
                        <span style="font-size: 10px;font-style: italic;color: #ddd;font-weight: bold;"><%= announs[i].postedOn %></span>
                    </div>
                    
                    
                <% } %>
        
                
            <% } else { %>
                <div class="no-announs">NO ANNOUNCEMENTS</div>
            <% } %>
        
            
            
            <!--a message end-->
                
            
            
            
        </div>
    </div>
    
    <footer>
        
            <div class="footer">
                <section class="contacts">
                    <h3>Contact</h3><br><br>
                    <span>info@amharaunity.com</span><br>

                </section>
                <section class="legals">
                    <h3>Legals</h3><br><br>
                    <span>Privacy Policy</span><br>
                    <span>Terms and Conditions of Use</span>

                </section>

                <!--socials-->
                <section class="share">
                    <h3>Share</h3><br><br>
                    <div class="share-buttons">
                        <span><a href="#" class="share-button facebook" id="share-facebook"><i class="fab fa-facebook-f" style="font-size: 20px; margin: 0 0.2vw;"></i></a></span>
                        <span><a href="#" class="share-button twitter" id="share-twitter"><i class="fab fa-twitter" style="font-size: 20px; margin: 0 0.2vw;"></i></a></span>
                        <span><a href="#" class="share-button whatsapp" id="share-whatsapp"><i class="fab fa-whatsapp" style="font-size: 20px; margin: 0 0.2vw;"></i></a></span>
                        <span><a href="#" class="share-button email" id="share-email"><i class="fas fa-envelope" style="font-size: 20px; margin: 0 0.2vw;"></i></a></span>
                        <span><a href="#" class="share-button linkedin" id="share-linkedin"><i class="fab fa-linkedin-in" style="font-size: 20px; margin: 0 0.2vw;"></i></a></span>
                        <span><a href="#" class="share-button sms" id="share-sms"><i class="fas fa-sms" style="font-size: 20px; margin: 0 0.2vw;"></i></a></span>
                
                    </div>
                
                </section>


            </div>
        
        

    </footer>

    <script>
                document.getElementById('share-facebook').addEventListener('click', function() {
            const url = encodeURIComponent(window.location.href);
            const text = encodeURIComponent(document.title);
            window.open(`https://www.facebook.com/sharer/sharer.php?u=${url}&quote=${text}`, 'sharer', 'width=626,height=436');
        });

        document.getElementById('share-twitter').addEventListener('click', function() {
            const url = encodeURIComponent(window.location.href);
            const text = encodeURIComponent(document.title);
            window.open(`https://twitter.com/intent/tweet?url=${url}&text=${text}`, 'sharer', 'width=626,height=436');
        });

        document.getElementById('share-whatsapp').addEventListener('click', function() {
            const url = encodeURIComponent(window.location.href);
            const text = encodeURIComponent(document.title);
            window.open(`https://api.whatsapp.com/send?text=${text}%20${url}`, 'sharer', 'width=626,height=436');
        });

        document.getElementById('share-email').addEventListener('click', function() {
            const url = encodeURIComponent(window.location.href);
            const subject = encodeURIComponent(document.title);
            const body = encodeURIComponent(`Check out this page: ${url}`);
            window.location.href = `mailto:?subject=${subject}&body=${body}`;
        });

        document.getElementById('share-linkedin').addEventListener('click', function() {
            const url = encodeURIComponent(window.location.href);
            const title = encodeURIComponent(document.title);
            const summary = encodeURIComponent('Check out this page:');
            window.open(`https://www.linkedin.com/shareArticle?mini=true&url=${url}&title=${title}&summary=${summary}`, 'sharer', 'width=626,height=436');
        });

        document.getElementById('share-sms').addEventListener('click', function() {
            const url = encodeURIComponent(window.location.href);
            const text = encodeURIComponent(document.title);
            window.open(`sms:?&body=${text}%20${url}`);
        });



    </script>

    
</body>

</html>