<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <title>Amhara Unity in America የአማራ አንድነት በአሜሪካ</title>

  <link rel="stylesheet" type="text/css" href="/home.css">



    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>


</head>


<body>
    <section class="title-text">
        <div class="en-text">Amhara Unity in America</div>
        <div class="am-text"> የአማራ አንድነት በአሜሪካ</div>
    </section>
    <section class="mission-container">
        <div class="mission-left">
            <span>Our</span><br>
            <span>Mission</span> 
            <span><i class="fa fa-arrow-circle-right show-right" style="font-size: 30px;"></i></span> <span><i class="fa fa-arrow-circle-down show-down" style="font-size: 30px;"></i></span>
        </div>
        <div class="mission-right">
            <div class="mission-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quisquam expedita accusantium ut dicta repellendus quod amet iusto. Labore et officia iure in omnis quam nemo officiis vel culpa? Quis.</div>
        </div>
    </section>
    
       <section class="hero-container">
        <div class="hero-img">
            <img src="/images/menelik.webp" alt="">
        </div>
        <div class="hero-form">
            <form action="/messaging" method="POST">
                <h1 class="welcome-text" style="font-weight: bold;"></h1>
            
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>
            
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" id="password" required>
            
                <button type="submit" class="btn">Login</button>
                <!--signup container-->
                <div class="signup-container">
                    <div class="sign-up">
                        Don't have an account? <a href="/register" style="text-decoration: none;color: #5AB2FF; font-weight: bold;cursor: pointer;">Sign Up</a>
                    </div>
                    
                    <div class="forgot">
                        <a href="" style="text-decoration: none;color: #5AB2FF;cursor: pointer;">Forgot password?</a>
                    </div>

                </div>
              </form>
            
        </div>
    </section>
    <section class="gallery-container">
        <div class="scroll-container">
            <img src="/images/haile.jpg" alt="Haile Selassie">
            <img src="/images/fasilides.jpg" alt="fasilides">
            <img src="/images/BelayZeleke.webp" alt="Belay Zeleke">
            <img src="/images/TaytuBetul.webp" alt="TaytuBetul">
            <img src="/images/Tewodros.jpg" alt="Tewodros II">

          </div>
    </section>
    <!--amhara history section-->
    <div class="guest-section-title">
        Amhara History
    </div>

<section class="guest-articles-container">
    <% if (posts.length > 0) { %>
        <% for(let i = 0; i < posts.length; i++) { %>
        
            <div>
                <a href="/blog/<%= posts[i]._id %>" style="text-decoration: none;cursor: pointer;">
                    <div class="guest-article">
                        <div class="article-info-container">
                            <div class="article-title"><%= posts[i].title %></div>
                            <div class="article-image">
                                <img src="/images/avatar.jpg" alt="">
                            </div>
                            <div class="article-blurb">
                                <%= posts[i].desc %>
                            </div>
                            <div class="article-poster"></div>
                        </div>
                    </div>
                </a>
            </div>
            
          <% } %>
      
    <% } else { %>
        <div class="no-posts-container">
            <a href="" style="text-decoration: none;cursor: pointer;">
                <div class="no-posts">
                        NO NEW ARTICLES

                </div>
            </a>
        </div>
        
    <% } %>


    



</section>
    <!-- end of amhara history section-->
    <h2 class="section-name">Our Team</h2>

    <section class="team-container">
        <div class="team-member">
            <div class="member-img">
                <img src="/images/avatar.jpg" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">James Colley</span> <br>
                <span style="font-size: 10px;">Creative Director</span>
                
            </div>
        </div>
        <div class="team-member">
            <div class="member-img">
                <img src="/images/avatar.jpg" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">James Colley</span> <br>
                <span style="font-size: 10px;">Creative Director</span>
                
            </div>
        </div>
        <div class="team-member">
            <div class="member-img">
                <img src="/images/avatar.jpg" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">James Colley</span> <br>
                <span style="font-size: 10px;">Creative Director</span>
                
            </div>
        </div>
        <div class="team-member">
            <div class="member-img">
                <img src="/images/avatar.jpg" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">James Colley</span> <br>
                <span style="font-size: 10px;">Creative Director</span>
                
            </div>
        </div>
        <div class="team-member">
            <div class="member-img">
                <img src="/images/avatar.jpg" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">James Colley</span> <br>
                <span style="font-size: 10px;">Creative Director</span>
                
            </div>
        </div>
        <div class="team-member">
            <div class="member-img">
                <img src="/images/avatar.jpg" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">James Colley</span> <br>
                <span style="font-size: 10px;">Creative Director</span>
                
            </div>
        </div>
        <div class="team-member">
            <div class="member-img">
                <img src="/images/avatar.jpg" alt="">
            </div>
            <div class="member-info">
                <span class="member-name">James Colley</span> <br>
                <span style="font-size: 10px;">Creative Director</span>
                
            </div>
        </div>
        

    </section>
    <h2 class="section-name">Our Branches</h2>
    <section class="branches-container">
        <ul>

            <% for(let i = 0; i < branches.length; i++) { %>

                <a href="/branch/<%= branches[i]._id%>" style="text-decoration: none;">
                   
                    <li>
                        <span class="branch-name"><%= branches[i].name %></span>
                        <div class="branch-button">
                            <a href="/branch/<%=branches[i]._id%>" style="text-decoration: none;"><button class="branch-btn">View</button></a><br>
                            <a href="/join-branch/<%=branches[i]._id%>" style="text-decoration: none;"><button class="branch-btn">Join</button></a>
                        </div>
                        <!--
                        <div class="join-button"><a href="/branch/<%=branches[i]._id%>" style="text-decoration: none;"><button class="branch-btn">Join</button></a></div><br>

                        -->


                    </li>
                    
                </a>
                
              <% } %>
          
            
        </ul>


    </section>



        <!--
            
        -->


        <div class="guest-section-title">
            Blogs from our members
        </div>

    <section class="guest-articles-container">
        <% if (posts.length > 0) { %>
            <% for(let i = 0; i < posts.length; i++) { %>
            
                <div>
                    <a href="/blog/<%= posts[i]._id %>" style="text-decoration: none;cursor: pointer;">
                        <div class="guest-article">
                            <div class="article-info-container">
                                <div class="article-title"><%= posts[i].title %></div>
                                <div class="article-image">
                                    <img src="/images/avatar.jpg" alt="">
                                </div>
                                <div class="article-blurb">
                                    <%= posts[i].desc %>
                                </div>
                                <div class="article-poster"></div>
                            </div>
                        </div>
                    </a>
                </div>
                
              <% } %>
          
        <% } else { %>
            <div class="no-posts-container">
                <a href="" style="text-decoration: none;cursor: pointer;">
                    <div class="no-posts">
                            NO NEW ARTICLES

                    </div>
                </a>
            </div>
            
        <% } %>
    

        
 


    </section>
    <div class="message-board-container">
        <div class="board-title">Announcements</div>
        <div class="all-messages">
            <!--a message start-->
            
            <% if (announs.length > 0) { %>
                <% for(let i = announs.length-1; i >= 0; i--) { %>

                    <div class="message-container">
                        <span style="font-size: 16px;color: #1A4D2E;font-weight: bold;"><%= announs[i].title %></span> <br>
                        <span style="font-size: 10px;font-style: italic;color: #ddd;font-weight: bold;"><%= announs[i].postedOn %></span>
                    </div>
                    
                    
                <% } %>
        
                
            <% } else { %>
                <div class="no-announs">NO ANNOUNCEMENTS</div>
            <% } %>
        
            
            
            <!--a message end-->
                
            
            
            
        </div>
    </div>
    
    <footer>
        
            <div class="footer">
                <section class="contacts">
                    <h3>Contact</h3><br><br>
                    <span>info@amharaunity.com</span><br>
                    <span>+1-555-555-5555</span>

                </section>
                <section class="location">
                    <h3>Find Us</h3><br><br>
                    <span>Framer Street 22</span><br>
                    <span>Amsterdam, 06355</span><br>
                    <span>Netherlands</span><br>


                </section>
                <section class="legals">
                    <h3>Legals</h3><br><br>
                    <span>Privacy Policy</span><br>
                    <span>Terms and Conditions of Use</span>

                </section>

            </div>
        
        

    </footer>

    
</body>

</html>